body {
	margin: 0;
}

.xbBar {
	margin : 0;
	height: 50px;
	background-color: #27B61F;
}

.xbTitle {
	font-size: 20px;
	margin-left: 10px;
}

.xbMainTable {
	width: 100%;
	height: 70%;
	margin: auto;
	overflow: auto;
	 position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}

.xbCircle {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	width: 75px;
	height: 75px;
	border : 1px solid black;
	border-radius: 75px;
}

.xbSubCircle {
	width: 50px;
	height: 50px;
	border : 1px solid black;
	border-radius: 75px;
	margin: auto;
	margin-top: 12px;
}

.xbPointer {
	width: 400px;
}

.xbSeparator {
	padding: 55px;
}

.xbMenu {
	display: inline-block;
	vertical-align: middle;
	font-size: 50px;
}

.xbSignIn {
	text-align: right;
}